spring:
  application:
    name: lnh_sku_management_service
  datasource:
    url: jdbc:mysql://localhost:3306/lnh_sku_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB